

<h1 align=center><font size = 5>Regression Models with Keras</font></h1>

## Introduction

 
Keras is a high-level API for building deep learning models. It has gained favor for its ease of use and syntactic simplicity facilitating fast development. As you will see in this lab and the other labs in this course, building a very complex deep learning network can be achieved with Keras with only few lines of code. You will appreciate Keras even more, once you learn how to build deep models using PyTorch and TensorFlow in the other courses.

We will learn how to use the Keras library to build a regression model.

## Table of Contents

<div class="alert alert-block alert-info" style="margin-top: 20px">

<font size = 3>
    
1. <a href="#item31">Download and Clean Dataset</a>  
2. <a href="#item32">Import Keras</a>  
3. <a href="#item33">Build a Neural Network</a>  
4. <a href="#item34">Train and Test the Network</a>  

</font>
</div>

<a id="item31"></a>

## Download and Clean Dataset

Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [1]:
import pandas as pd
import numpy as np



<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download the data and read it into a <em>pandas</em> dataframe.

In [2]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa.

#### Let's check how many data points we have.

In [3]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.

Let's check the dataset for any missing values.

In [4]:
concrete_data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.

#### Split data into predictors and target

The target variable in this problem is the concrete sample strength. Therefore, our predictors will be all the other columns.

In [6]:
concrete_data_columns = concrete_data.columns

predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column

<a id="item2"></a>

Let's do a quick sanity check of the predictors and the target dataframes.

In [7]:
predictors.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Finally, the last step is to normalize the data by substracting the mean and dividing by the standard deviation.

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

Let's save the number of predictors to *n_cols* since we will need this number when building our network.

In [10]:
n_cols = predictors_norm.shape[1] # number of predictors

<a id="item1"></a>

<a id='item32'></a>

## Import Keras

Keras normally runs on top of a low-level library such as TensorFlow. This means that to be able to use the Keras library, you will have to install TensorFlow first and when you import the Keras library, it will be explicitly displayed what backend was used to install the Keras library. We are using TensorFlow as the backend to install Keras, so it should clearly print that when we import Keras.

#### Let's go ahead and import the Keras library

In [11]:
import keras

Using TensorFlow backend.

As you can see, the TensorFlow backend was used to install the Keras library.

Let's import the rest of the packages from the Keras library that we will need to build our regressoin model.

In [12]:
from keras.models import Sequential
from keras.layers import Dense

<a id='item33'></a>

## Build a Neural Network

Let's define a function that defines our regression model for us so that we can conveniently call it to create our model.

In [13]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

The above function create a model that has two hidden layers, each of 50 hidden units.

<a id="item4"></a>

<a id='item34'></a>

## Train and Test the Network

Let's call the function now to create our model.

In [16]:
# build the model
model = regression_model()
print(model.summary())

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_7 (Dense)              (None, 50)                450
_________________________________________________________________
dense_8 (Dense)              (None, 50)                2550
_________________________________________________________________
dense_9 (Dense)              (None, 1)                 51
=================================================================
Total params: 3,051
Trainable params: 3,051
Non-trainable params: 0
_________________________________________________________________
None

Next, we will train and test the model at the same time using the *fit* method. We will leave out 30% of the data for validation and we will train the model for 100 epochs.

In [17]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Train on 721 samples, validate on 309 samples
Epoch 1/100
 - 0s - loss: 1604.3457 - val_loss: 1110.8963
Epoch 2/100
 - 0s - loss: 1431.1882 - val_loss: 957.9433
Epoch 3/100
 - 0s - loss: 1148.2172 - val_loss: 736.9834
Epoch 4/100
 - 0s - loss: 776.0344 - val_loss: 490.8450
Epoch 5/100
 - 0s - loss: 439.4318 - val_loss: 296.9929
Epoch 6/100
 - 0s - loss: 272.4258 - val_loss: 207.4649
Epoch 7/100
 - 0s - loss: 231.7222 - val_loss: 184.9021
Epoch 8/100
 - 0s - loss: 215.9571 - val_loss: 174.5606
Epoch 9/100
 - 0s - loss: 203.7124 - val_loss: 169.1284
Epoch 10/100
 - 0s - loss: 195.2565 - val_loss: 166.9781
Epoch 11/100
 - 0s - loss: 187.5520 - val_loss: 163.4099
Epoch 12/100
 - 0s - loss: 181.1837 - val_loss: 156.8024
Epoch 13/100
 - 0s - loss: 176.4993 - val_loss: 157.8607
Epoch 14/100
 - 0s - loss: 171.4411 - val_loss: 157.7518
Epoch 15/100
 - 0s - loss: 167.5462 - val_loss: 156.9074
Epoch 16/100
 - 0s - loss: 164.1424 - val_loss: 153.6028
Epoch 17/100
 - 0s - loss: 160.3563 - val_loss: 154.8050
Epoch 18/100
 - 0s - loss: 158.1808 - val_loss: 156.5983
Epoch 19/100
 - 0s - loss: 155.4131 - val_loss: 155.4388
Epoch 20/100
 - 0s - loss: 153.3714 - val_loss: 156.2448
Epoch 21/100
 - 0s - loss: 151.3916 - val_loss: 156.9485
Epoch 22/100
 - 0s - loss: 149.7145 - val_loss: 160.4299
Epoch 23/100
 - 0s - loss: 147.7726 - val_loss: 159.9072
Epoch 24/100
 - 0s - loss: 146.4667 - val_loss: 158.3140
Epoch 25/100
 - 0s - loss: 145.4493 - val_loss: 161.6214
Epoch 26/100
 - 0s - loss: 143.4174 - val_loss: 161.2922
Epoch 27/100
 - 0s - loss: 142.0692 - val_loss: 162.4155
Epoch 28/100
 - 0s - loss: 141.3142 - val_loss: 165.4934
Epoch 29/100
 - 0s - loss: 139.3263 - val_loss: 163.1352
Epoch 30/100
 - 0s - loss: 138.2285 - val_loss: 163.5552
Epoch 31/100
 - 0s - loss: 137.2629 - val_loss: 165.2343
Epoch 32/100
 - 0s - loss: 135.6090 - val_loss: 165.7505
Epoch 33/100
 - 0s - loss: 134.8117 - val_loss: 166.0060
Epoch 34/100
 - 0s - loss: 133.7133 - val_loss: 165.4552
Epoch 35/100
 - 0s - loss: 132.2242 - val_loss: 163.5726
Epoch 36/100
 - 0s - loss: 131.4701 - val_loss: 169.7091
Epoch 37/100
 - 0s - loss: 129.9918 - val_loss: 166.4459
Epoch 38/100
 - 0s - loss: 129.0917 - val_loss: 168.6078
Epoch 39/100
 - 0s - loss: 128.1332 - val_loss: 165.9132
Epoch 40/100
 - 0s - loss: 126.9709 - val_loss: 166.8480
Epoch 41/100
 - 0s - loss: 125.7441 - val_loss: 164.7145
Epoch 42/100
 - 0s - loss: 124.1349 - val_loss: 166.3286
Epoch 43/100
 - 0s - loss: 123.0092 - val_loss: 167.2674
Epoch 44/100
 - 0s - loss: 121.9036 - val_loss: 165.0875
Epoch 45/100
 - 0s - loss: 120.3637 - val_loss: 163.4124
Epoch 46/100
 - 0s - loss: 118.9292 - val_loss: 165.1025
Epoch 47/100
 - 0s - loss: 117.6924 - val_loss: 165.0028
Epoch 48/100
 - 0s - loss: 115.9741 - val_loss: 163.7668
Epoch 49/100
 - 0s - loss: 115.1421 - val_loss: 161.5049
Epoch 50/100
 - 0s - loss: 112.8704 - val_loss: 159.0268
Epoch 51/100
 - 0s - loss: 110.8319 - val_loss: 162.6115
Epoch 52/100
 - 0s - loss: 108.9273 - val_loss: 156.4072
Epoch 53/100
 - 0s - loss: 107.0988 - val_loss: 156.6704
Epoch 54/100
 - 0s - loss: 106.2991 - val_loss: 158.3049
Epoch 55/100
 - 0s - loss: 102.7808 - val_loss: 152.0128
Epoch 56/100
 - 0s - loss: 100.4679 - val_loss: 151.2532
Epoch 57/100
 - 0s - loss: 99.2358 - val_loss: 150.3787
Epoch 58/100
 - 0s - loss: 95.8798 - val_loss: 143.9537
Epoch 59/100
 - 0s - loss: 93.3520 - val_loss: 140.9396
Epoch 60/100
 - 0s - loss: 92.0468 - val_loss: 143.7021
Epoch 61/100
 - 0s - loss: 88.3741 - val_loss: 135.8221
Epoch 62/100
 - 0s - loss: 85.6603 - val_loss: 132.9928
Epoch 63/100
 - 0s - loss: 83.3382 - val_loss: 133.1546
Epoch 64/100
 - 0s - loss: 80.3486 - val_loss: 131.1303
Epoch 65/100
 - 0s - loss: 78.5915 - val_loss: 124.2420
Epoch 66/100
 - 0s - loss: 76.1213 - val_loss: 126.7200
Epoch 67/100
 - 0s - loss: 73.3364 - val_loss: 123.8868
Epoch 68/100
 - 0s - loss: 70.7038 - val_loss: 119.8143
Epoch 69/100
 - 0s - loss: 68.5566 - val_loss: 115.9770
Epoch 70/100
 - 0s - loss: 66.3975 - val_loss: 117.6781
Epoch 71/100
 - 0s - loss: 64.5309 - val_loss: 111.4953
Epoch 72/100
 - 0s - loss: 62.9325 - val_loss: 112.3615
Epoch 73/100
 - 0s - loss: 60.6112 - val_loss: 113.6121
Epoch 74/100
 - 0s - loss: 58.4962 - val_loss: 105.4704
Epoch 75/100
 - 0s - loss: 57.0390 - val_loss: 109.6555
Epoch 76/100
 - 0s - loss: 54.8530 - val_loss: 109.6885
Epoch 77/100
 - 0s - loss: 53.6878 - val_loss: 107.7110
Epoch 78/100
 - 0s - loss: 52.0293 - val_loss: 112.3838
Epoch 79/100
 - 0s - loss: 50.9406 - val_loss: 106.4810
Epoch 80/100
 - 0s - loss: 49.5140 - val_loss: 107.6139
Epoch 81/100
 - 0s - loss: 47.7904 - val_loss: 104.6079
Epoch 82/100
 - 0s - loss: 46.7715 - val_loss: 102.6942
Epoch 83/100
 - 0s - loss: 45.8823 - val_loss: 105.1504
Epoch 84/100
 - 0s - loss: 44.4600 - val_loss: 104.2697
Epoch 85/100
 - 0s - loss: 43.0679 - val_loss: 109.5018
Epoch 86/100
 - 0s - loss: 42.0734 - val_loss: 103.8129
Epoch 87/100
 - 0s - loss: 41.4192 - val_loss: 109.4138
Epoch 88/100
 - 0s - loss: 41.1353 - val_loss: 108.1796
Epoch 89/100
 - 0s - loss: 39.6648 - val_loss: 109.9516
Epoch 90/100
 - 0s - loss: 39.3444 - val_loss: 109.1743
Epoch 91/100
 - 0s - loss: 38.0227 - val_loss: 114.2417
Epoch 92/100
 - 0s - loss: 37.9956 - val_loss: 106.3882
Epoch 93/100
 - 0s - loss: 37.0917 - val_loss: 107.6959
Epoch 94/100
 - 0s - loss: 36.7811 - val_loss: 106.7566
Epoch 95/100
 - 0s - loss: 36.0504 - val_loss: 121.1878
Epoch 96/100
 - 0s - loss: 35.5813 - val_loss: 105.9158
Epoch 97/100
 - 0s - loss: 35.2363 - val_loss: 108.1566
Epoch 98/100
 - 0s - loss: 35.6083 - val_loss: 110.0289
Epoch 99/100
 - 0s - loss: 34.0531 - val_loss: 111.7654
Epoch 100/100
 - 0s - loss: 34.3254 - val_loss: 120.7426

<strong>You can refer to this [link](https://keras.io/models/sequential/) to learn about other functions that you can use for prediction or evaluation.</strong>